    <div class="footerInfo">
        <a class="float" href="/adminpost">Staff page</a> 
        <a class="float" href="/terms_and_conditions">Terms</a>
        <!-- <a class="float" href="/allproduct">Overall database</a> -->
        <a class="float" href="/policy">Privacy policy</a>
        <a class="float" href="/farmers">For farmers</a>
        <a class="float" href="/buyers">For buyers</a>
        <a class="float" href="/faq">FAQ</a>
        

    </div>
</body>
</html>