    <div class="footerInfo">
        <a class="float" href="/adminpost">Staff page</a> 
        <a class="float" href="/allproduct">Overall database</a>
        <a class="float" href="">Term and conditions</a>
        

    </div>
</body>
</html>