<!-- Facebook SDK (LOAD FIRST) -->
<div id="fb-root"></div>
<script>
  // Initialize Facebook SDK
  window.fbAsyncInit = function() {
    FB.init({
      xfbml: true,
      version: 'v19.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" 
  src="https://connect.facebook.net/en_US/sdk.js">
</script>

<!-- FOOTER -->
<footer class="footerInfo">
    
    <div class="footer-links">
        <a class="float" href="/adminpost">Staff page</a>
        <a class="float" href="/terms_and_conditions">Terms</a>
        <a class="float" href="/policy">Privacy policy</a>
        <a class="float" href="/farmers">For farmers</a>
        <a class="float" href="/buyers">For buyers</a>
        <a class="float" href="/faq">FAQ</a>
    </div>

    <div class="footer-social">
    <p>Follow us on Facebook</p>
    <!-- Container with a max-width -->
    <div class="fb-plugin-container" style="max-width: 500px; width: 100%;">
        <div class="fb-page"
             data-href="https://www.facebook.com/Koyegarden"
             data-width="340" <!-- This becomes less critical -->
             data-height="500"
             data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true"
             data-lazy="true">
        </div>
    </div>
</div>

</footer>

</body>
</html>
