*{
    margin: auto 0px;
}
body{
    background-color: rgb(207, 183, 183);
    /* color: blue; */
    text-align: center;
    max-width: 800px;
    margin: 0px auto 50px auto;
    /* margin-bottom: 50px; */
}
/* .container{
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
} */

/* Navigation bar */
.nav1{
    height: 35px;
    padding: 0px 5px;
    margin: 0px 0px;
    /* max-width: 800px; */
    text-align: right;
    border-bottom: thick solid white;
    background-color: rgb(12, 12, 12);
    color: white;
}
.nav1 p {
    /* font-size: 20; */
    line-height: 35px;
}
.navbar{
  display: inline;
  line-height: 35px;
 }

 .right{
     margin-left: 10px;
}

.para{
    z-index: 1;
    top: 35px;
    height: 50px;
    margin-right: 20px;
}
.homepage{
    text-transform: uppercase;
    text-align: left;
    margin-right: 10%;
    float: left;
}
.homepage h2 a{
    color: green;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgba(243, 116, 116, 0.808);
    padding: 5px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    /* border-bottom: thick solid rgb(115, 162, 224); */
}
.check-btn{
    display: block;
    font-size: 25px;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}
#check{
    display: none;
}


/* Text on image session */

/* Display image session*/
.header-page{
    list-style: none;
}
.header-page{
    width: 100%;
    height: 200px;
    position: relative;
    margin: 0px;
    /* margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 0; */
    text-align: center;
    margin-bottom: 5px;
    
}
.header-page li{
    background-image: url("/pics/chicks.jpg");
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: 50% 30%;
    background-size: cover;
    position: relative;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
.logo{
    position: absolute;
    top: 8px;
    left: 16px;
    /* top: 18vh;
    float: left;
    margin-left: 10%; */
}
.front-page{
    
    margin: 0px 0px;
    padding: 0px 0px;
    
    /* text-align: center;
    z-index: 1;
    position: relative;
    top: 20vh;
    height: 0px; */
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.front-page h2{
    border-radius: 20%;
    background-color: white;
    color: green;
}

.front-page p{
    border-radius: 20%;
    background-color: white;
    color: red;
}
/* add new */
.add-new{
    margin: 5px 3px;
    text-align: left;
    text-decoration: none;
}
.add-new a{
    text-decoration: none;
    color: #fff;
}
.add-new button{
    margin: 10px 0px;
    padding: 13px 7px;
    background-color: rgb(29, 28, 28);
}

/* customer's content homepage*/
.general-content{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
   }
   
.content{
    border: thin solid white;
    float: left;
    width: 250px;
    text-align: center;
    margin: auto 5px;
   /* border: thin solid #555; */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.1); */
    padding: 0px 0px;
}
.content img{
    text-align: center;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 100%;
}

.content-desc {
    background-color: rgb(37, 25, 25);
    color: white;
    margin: auto 0px;
    width: auto;
    text-align: center;
    padding: 10px 10px;
}

.content a {
    text-decoration: none;
}

/* .content button{
    margin: 0px 0px;
} */
/* form width at addnew */
.form-style{
    color: blue;
    border: thin solid rgb(107, 82, 82);
    width: 90%;
    margin: 0px auto;
    text-align: center;
    background-color: #da86f3;
}
.form-style label{
    color: white;
}
.form-set{
    background-image: url("/pics/insect.jpg");
    padding: 40px 20px;
}
.form-style input, .form-style textarea, select {
    width: 100%;
}
input[type=password],input[type=text] {
    height: 30px;
}
.show{
    width: 100%;
    text-align: start;
}
.show button{
    margin: 10px auto;
    display: inline;
}
input[type=checkbox]{
    height: 30px;
    width: 20px;
    margin: 5px auto;
}
input[type=file]{
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border: 1px solid #555;
}
.form-style label{
    margin: auto;
    text-align: left;
    display: block;
}


.showpage{
    /* border:  thick solid black; */
    border-bottom: thick solid #b3a5a5;
    box-shadow: 5px 5px 10px burlywood;
}

.control-button{
    padding-top: 5px;
    margin: 0px 40%;
    display: flex;
}
.frontBtn {
    margin-bottom: 0px;
    width: 100%;
    height: 40px;
    border: thin solid rgb(212, 191, 127);
    /* box-shadow: 5px 5px 10px#444; */
    font-size: medium;
    padding: 2px 5px;
    color: #f1ecec;
    background-color: rgb(37, 25, 25);
    /* background-color: rgb(81, 82, 77); */
}
.frontBtn a{
    color: greenyellow;
}
a {
    text-decoration: none;
}
.edit-button{
    border: thick solid rgb(212, 191, 127);
    box-shadow: 5px 5px 10px#444;
    font-size: medium;
    padding: 2px 5px;
    color: #0e0d0d;
    background-color: white;
}
.delete-button{
    border: thick solid rgb(212, 191, 127);
    box-shadow: 5px 5px 10px#444;
    font-size: medium;
    padding: 2px 5px;
    color: #f1ecec;
    background-color: red;
}
#button-float{
    display: inline;
}
/* session for the comments */
.comment-session{
    background-color: #131212;
    padding: 20px 10px;
    margin-bottom: 50px;
}
.comment-session a{
    color: #f1ecec;
}
/* .comment-button{
    text-align: left;
} */
.comment-block{
    margin: 5px 5px;
    padding: 10px 5px;
    display: block;
    background-color: white;
    border-radius: 20%;
    box-shadow: 5px 3px 10px burlywood;
    text-align: left;
    /* border: thin solid burlywood; */
    /* margin-top: 30px; */
}
.comment-block p{
    padding: 10px 10px;
}
.reply-block{
    background-color:rgb(243, 238, 238);
    margin: 5px 20px;
    padding: 5px 10px;
    border-radius: 20%;
}
.comment-block .reply a{
    color: black;
}

.slider {
    width: 100%;
    height: 510px;
    position: relative;
    margin-left: 0%;
}

.slider img {
    width: 100%;
    max-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hide all images by default */
}

.slider img.active {
    display: block; /* Only the active image will be shown */
}

.navigation-button {
    text-align: center;
    position: relative;
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #1a0247;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

.descp {
    border: thin solid white;
 padding: 5px 10px;
}
.profile {
    padding: 0px 0px;
    width: 44%;
    margin: 10px 2% 60px 2%;
    float: left;
    /* border-left: thin solid brown; */
    /* box-shadow: 5px 5px 5px brown; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.profile img{
    width: 100%;
}
.profile h2 {
    padding: 5px 10px;
    background-color: rgb(99, 150, 23);
    /* background-color: #a2a2a5; */
}
.profile h3 {
    padding: 10px 0px;
    background-color: rgb(99, 150, 23);
}

.descLink p{
    background-color: greenyellow;
    padding: 10px 5px;
}

.profile a{
    color: blue;
}
.profile-body{
    width: 90%;
    margin: 0px 10px;
  
}



.edit-profile{
    float: left;
    margin-bottom: 0px;
    height: 40px;
    border: thin solid rgb(212, 191, 127);
    box-shadow: 5px 5px 10px#444;
    background-color: rgb(99, 150, 23)
}

.edit-profile a{
    color: black;
}
.profile-details{
    padding: 10px 10px;
    /* border: thin solid red; */
}
.profile-info{
    color: white;
    margin: 0px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(99, 150, 23);
    box-shadow: 5px 5px 5px brown;
    /* background-color: rgb(15, 15, 15); */
}



/* .profilePicture i {
    /* background-color: white;
    margin: 5px auto;
    padding: 5px 15px; */
    /* color: red; */
} */

/* .profilePicture img{
    border: 10px solid rgb(46, 32, 32);
    border-radius: 50%;
    height: 250px;
    width: 200px;
    z-index: 0;
} */

.comment-link a{
    color: blue;
}

.dropdown{
    position: relative;
    display: inline-block;
}
/* hidden by default */
.dropdown-content{
    margin: 0px 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content ul{
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0px -50%;
}
.dropdown-content a {
    margin: 0px 0px;
    background-color: rgb(148, 66, 8);
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#approve a, p a{
    color: white;
}

.listType .content{
    margin: 10px 0px;
}
#approve{
    margin: 0px 0px;
    padding: 10px 5px;
    background-color: green;
    color: white;
    text-align: center;
    width: 100%;
}
#delete{
    width: 100%;
    margin: 0px 0px;
    padding: 10px 5px;
    background-color: red;
    color: white;
    text-align: center;
}
.success{
    margin: 2px auto;
    height: 30px;
    width: 100%;
    color: black;
    border: white;
    background-color: green;
}
.error{
    margin: 2px auto;
    height: 30px;
    width: 100%;
    background-color: red;
    color: white;
    border: white;
}
.footerInfo{
    /* background-size: cover; */
    height: 40px;
    width: 800px;
    width: 700px;
    position: fixed;
    padding: 5px;
    bottom: 0;
    background-color: #cfcece;
    margin: 0px 0px;
    align-content: center;
    text-align: center;
}
.float {
    background-color: #363636;
    padding: 3px 5px;
    color: white;
}

/* .follow-followers{
    float: inline-start;
    margin-left: 20%;
    display: flex;
} */
/* ul li{
    list-style: none;
} */
#followersList li a, #followingList li a{
    padding: 3px 3px;
    color: red;
    /* background-color: green; */
}


#followersList {
    background-color: black;
    list-style: none;
    text-align: left;
    /* padding: 3px 3px; */
    /* margin: 5px 3px; */
    position: absolute;
    color: red;
    left: 35%;
}

#followingList {
    background-color: black;
    list-style: none;
    text-align: right;
    margin: 3px 3px;
    position: absolute;
    /* top: 100px;   */
    color: red;
    left: 50%;  
}

.profile-body {
    text-align: center;
}

.follow-info {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 10px;
}

#listfollowers, #listfollowing {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#listfollowers:hover, #listfollowing:hover {
    background-color: #555; /* Optional: Adds hover effect */
}

.profilePicture {
    background-image: url("/pics/kitten.jpg");
    width: auto;
    height: 300px;
    border: thin solid white;
    margin: 10px 1%;
    padding: 15px 5px;
    text-align: center;
    z-index: 0;
}

.profilePicture img {
    border: 10px solid rgb(46, 32, 32);
    border-radius: 50%;
    height: 250px;
    width: auto;
    z-index: 0;
}

.profilePicture h3{
    color: red;
}

.profile-details p {
    font-size: 1.1em;
}

.edit-button:hover, .delete-button:hover {
    background-color: #555;
}

.profile-bottom {
    margin: 20px;
}

.profile-bottom .descLink h3 a {
    color: blue;
}

.aboutUs{
    
    color: #0e0d0d;
}
.aboutUs div{
    padding: 10px 10px;
}

.aboutHead{
    /* background-color: #0e0d0d; */
    margin: 6px 4px;
    padding: 3px 3px;
    box-shadow: 5px 5px 10px #444;
    color: black;
}

.category {
    /* padding: 20px 20px; */
    margin: 10px 10px;
    text-align: justify;
}
.clusterImage{
    background-color: #131212;
}
.clusterImage img{
    border: 1px solid #ddd;
    display: inline;
    padding: 5px;
    width: 30%;
    height: auto;
}
   .inquiry-form h3{
    padding: 3px 3px;
    background-color: whitesmoke;
   }
    .inquiry-form input, .inquiry-form textarea{
        border: thin solid rgb(107, 82, 82);
        width: 90%;
        margin: 4px auto;
        text-align: center;
        /* background-color: #da86f3; */
        background-color: #f2eef3;
    }
    .inquiry-form label{
        margin-left: 5%;
        text-align: left;
        display: block;
    }

.follow-followers{

/* .follow-followers{
    float: inline-start;
    margin-left: 20%;
    display: flex;
} */
/* ul li{
    list-style: none;
} */
/* #followersList li a, #followingList li a{
    padding: 3px 3px;
    color: red;
    /* background-color: green; */
}


#followersList {
    list-style: none;
    text-align: left;
    /* padding: 3px 3px; */
    /* margin: 5px 3px; */
    position: absolute;
    color: red;
    left: 35%  
}

#followingList {
    background-color: black;
    list-style: none;
    text-align: right;
    margin: 3px 3px;
    position: absolute;
    /* top: 100px;   */
    color: red;
    left: 50%;  
}

.profile-body {
    text-align: center;
}

.follow-info {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 10px;
}

#listfollowers, #listfollowing {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#listfollowers:hover, #listfollowing:hover {
    background-color: #555; /* Optional: Adds hover effect */
}

.profilePicture {
    background-image: url("/pics/kitten.jpg");
    width: auto;
    height: 300px;
    border: thin solid white;
    margin: 10px 1%;
    padding: 15px 5px;
    text-align: center;
    z-index: 0;
}

.profilePicture img {
    border: 10px solid rgb(46, 32, 32);
    border-radius: 50%;
    height: 250px;
    width: auto;
    z-index: 0;
}

.profilePicture h3{
    color: red;
}

.profile-details p {
    font-size: 1.1em;
}

.edit-button:hover, .delete-button:hover {
    background-color: #555;
}

.profile-bottom {
    margin: 20px;
}

.profile-bottom .descLink h3 a {
    color: blue;
}

.aboutUs{
    
    color: #0e0d0d;
}
.aboutUs div{
    padding: 10px 10px;
}

.aboutHead{
    /* background-color: #0e0d0d; */
    margin: 6px 4px;
    padding: 3px 3px;
    box-shadow: 5px 5px 10px #444;
    color: black;
}

.category {
    /* padding: 20px 20px; */
    margin: 10px 10px;
    text-align: justify;
}
.clusterImage{
    background-color: #131212;
}
.clusterImage img{
    border: 1px solid #ddd;
    display: inline;
    padding: 5px;
    width: 30%;
    height: auto;
}


@media(max-width: 600px){
   .footerInfo{
    width: 100%;
    text-align: center;
    /* margin: 0px 20px 0px 20px; */
   }
    .navbar a:hover{
        background-color: rgba(243, 116, 116, 0.808);
        padding: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
        /* border-bottom: thick solid rgb(115, 162, 224); */
    }
    .dropdown{
        position: relative;
        display: inline-block;
    } 
    
    .dropdown-content ul{
        display: none;
        position: absolute;
        width: 35%;
        /* background-color: #f1f1f1; */
        /* margin: 0px 10%; */
        margin-left: 25%;
        list-style: none;
        z-index: 2;
    }
    .dropdown-content li{
        border-bottom: thick solid black;
        width: 100%;
        position: relative;
        background-color: yellow;
    }
    .dropdown:hover .dropdown-content ul{
        display: block;
    }
   

    .check-btn{
        margin-top: 5px;
        display: block;
    }


/* Navigation bar */
.nav1{
    height: 200px;
    padding: 10px 5px;
    margin: 0px 0px;
    /* max-width: 800px; */
    text-align: right;
    border-bottom: thick solid rgb(207, 201, 192);
    background-color: rgb(161, 236, 199);
    color: black;
}
.para a{
    color: rgb(12, 3, 3);
}
.logo{
    opacity: 0.5;
}
    .para p, .para div{
        width: 100%;
        z-index: 2;
        display: inline-block;
        text-align: left;
    }
   .general-content{
    width: 90%;
    margin: auto;
    text-align: center;
    /* background-color: rgb(102, 95, 84); */
    background-size: cover;
    /* background-image: url("/pics/flower.jpg"); */
   }
    .content{
        width: 90%;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
        padding-bottom: 2px;
        margin: 10px auto;
        text-align: center;
        
    }
    .content img{
        text-align: center;
    }
    .content-desc{
        width: auto;
        text-align: center;
    }
    .hideContent {
        display: none;
    }
    
   
}