<%- include("./partials/header") %>
<div class="category">

    <div class="aboutUs">
        <h1 class="aboutHead"><b>Contact us information</b></h1>
        <div>
            For the sales of any of your farm produce, for inquiries relating to your user profile or any 
            other matter that arises, kindly contact <a href="/user/67c39c643a2aaa5aa01a11f3">Admin</a>
        </div>

        <h3 class="aboutUs"><b>Location</b></h3>
        <div>
            opposite texaco, Academy, iwo-road, Ibadan
        </div>

        <h3 class="aboutUs"><b>Telephone</b></h3>
        <div>
            08025125529
        </div>

        <h3 class="aboutUs"><b>email</b></h3>
        <div>
            koyegarden@gmail.com
        </div>
    </div>


</div>    
<%- include("./partials/footer") %>