<%-include("./partials/header")%>
<div class="category>
    <h1 class="aboutHead"><h1><b>Frequently Asked Questions</b></h1>

    <h3 class="aboutHead"><b>Question:</b> Is farmGate market only for large farms?</h3>
    <p>No! small holder farmers, cooperatives, and commercial producers are all invited</p>

    <h3 class="aboutHead"><b>Question:</b> Does FarmGate handle delivery?</h3
    <p>
        each buyers and sellers of commodities are to agree on a fixed location to transact their business.
    </p>

    <h3 class="aboutHead"><b>Question:</b> will i need to make payment before i make order for agricultural commodities?<br></h3>
    No! Payment should be made upon the delivery of produce, we don't encourage payment before service.

    <h3 class="aboutHead"><b>Question: How do i verify a seller or buyer?</b></h3>
    <ol>
        <li>
            Every account undergoes identity and product verification to protect all users.
        </li> 
        <li>
            We have administrative staff who anchors every produce being displays by sellers.
        </li>   
    </ol>
</div>
<%-include("./partials/footer")%>