<head>
<<<<<<< HEAD
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3065HDSTE3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3065HDSTE3');
        </script>
    <meta charset="utf-8">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <title>Farmgate global</title>
    <meta name="description" content="Your Unrestricted access to Agricultural commodities at Farm gate price">
    <meta name="keywords" content="chef, livestocks, feed ingredients, Floriculture, vegetables, Agricultural talk">
    <meta property="og:title" content="Farmgate Nigeria">
    <meta property="og:description" content="Your Unrestricted access to Agricultural commodities at Farm gate price">
    <meta property="og:image" content="/pics/logo.png">

=======
    <meta charset="utf-8">
>>>>>>> 0ae8e36 (coverpage viewport)
=======
    <title>Koye farm produce and raw materials</title>
=======
    <title>Farmgate Nigerian Mobile App</title>
>>>>>>> 7bab5b9 (follow follow)
=======
    <title>Farmgate Nigeria</title>
>>>>>>> ba24203 (profile follower)
    <meta name="description" content="Your Unrestricted access to Agricultural commodities at Farm gate price">
    <meta name="keywords" content="chef, livestocks, feed ingredients, Floriculture, vegetables, Agricultural talk">
    <meta property="og:title" content="Koye farm produce and raw materials">
    <meta property="og:description" content="Your Unrestricted access to Agricultural commodities at Farm gate price">
    <meta property="og:image" content="/pics/logo.png">

>>>>>>> 98e4cdf (form javascript shown)
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="pics/logo.png">
    <link rel="stylesheet" href="stylesheet/cover.css">
</head>
<div class="productUser">
        <form action="/search" method="POST">
            <input type="text" name="productSearch" placeholder="search for a product">
            <button>search</button>
        </form>
        <form action="/usersearch" method="POST">
            <input type="text" name="userSearch" placeholder="search for a user">
            <button>search</button>
        </form>
</div>
<% if(currentUser){%>
    <div class="success">
         logged in as <%= currentUser.username %>
    </div>
    <div class="success">
        <%= user.length%> users online
   </div>
<%}%>
<div>
    <div class="rectangle">
        <div class="welcome">
<<<<<<< HEAD
<<<<<<< HEAD
            <h2>Welcome to Farmgate Global</h2>
=======
            <h2>Welcome to Koye Agricultural Garden</h2>
>>>>>>> 98e4cdf (form javascript shown)
=======
            <h2>Welcome to Farmgate Nigeria</h2>
>>>>>>> ba24203 (profile follower)
           <% if(! currentUser){%>
                <p><a href="/register">sign-up here</a></p>
                <p><a href="/login">login here</a></p>
           <% }%>
            
        </div>
    </div>
</div>
<div class="cover">
    <div class="headings">
        <h1>Your number one hub for the sales of Agricultural commodities in Nigeria</h1>
     </div>   
        <h3>
            Available categories of Agricultural commodities at farm gate price
        </h3>

    
        <ul>
            <li><a class="frontline" href="/talk"><h1>Agricultural talk</h1></a></li><hr>
            <li><a class="frontline" href="/livestocks"><h1>Livestocks</h1></a></li><hr>
            <li><a class="frontline" href="/pets"><h1>Pets</h1></a></li><hr>
            <li><a class="frontline" href="/seedlings"><h1>Garden / Floriculture</h1></a></li><hr>
            <li><a class="frontline" href="/vegetables"><h1>Vegetables</h1></a></li><hr>
            <li><a class="frontline" href="/food"><h1>Feed ingredients</h1></a></li><hr>
            <li><a class="frontline" href="/chef"><h1>Chef</h1></a></li><hr>
<<<<<<< HEAD
<<<<<<< HEAD
=======
            <!-- <li><a class="frontline" href="/bakeries"><h1>Bakeries</h1></a></li><hr> -->
>>>>>>> 3082890 (florist)
=======
>>>>>>> c395678 (real estate)
            <li><a class="frontline" href="/farmequips"><h1>Farm equipments</h1></a></li><hr>
            <li><a class="frontline" href="/estate"><h1>Farm Real Estate</h1></a></li><hr>
            <li><a class="frontline" href="/others"><h1>Others</h1></a></li><hr>
        </ul>
</div>
